build/
install/
log/


__pycache__/
*.pyc


*.o
*.a
*.so



.vscode/
.idea/
cmake-build-*/

.data
.posegraph
handpose_estimation_mediapipe_2023feb.onnx
*map*
odom*

isaac_ros-devsrc/m-explore-ros2/
src/rf2o_laser_odometry/
src/ydlidar_ros2_driver/
