[Unit]
Description=launch ros
After=network-online.target local-fs.target
Requires=local-fs.target

[Service]
User=jetson
ExecStartPre=/bin/rm -f /home/jetson/ros2_ws/launch_logs/ros_launch.log
ExecStartPre=/bin/bash -c 'docker stop $(docker ps -q) 2>/dev/null || true';
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash; cd /home/jetson/ros2_ws; source install/setup.bash; ros2 launch robo_bringup robo.launch.py;'
Restart=on-failure
RestartSec=6
StandardOutput=file:/home/jetson/ros2_ws/launch_logs/ros_launch.log
StandardError=file:/home/jetson/ros2_ws/launch_logs/ros_launch.log


[Install]
WantedBy=multi-user.target
